# configuration file for 1pass

# set to the ID of your GPG key
self_key="<key-id>"

# set to the email address associated with your 1Password account
email="<email address>"

# set to your 1password domain (e.g. example.1password.com)
domain="<example.1password.com>"
